section {
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
}

aside {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: yellow;
  padding: 10px;
  font-size: 28px;
  color: black;
}
